<div class="container">
  <br /><br />

  <div class="row">

    <div class="col-sm-4">
      <div class="text-center">
        <figure class="figure">
          <img src="../../assets/linmanuel.jpg" alt="A headshot of Lin-Manuel Miranda.">
          <figcaption class="figure-caption">Photo: John D. & Catherine T. MacArthur Foundation [CC BY 4.0], via Wikimedia Commons</figcaption>
        </figure>
      </div>
    </div>

    <div class="col-sm-8">
      <div class="text-center">
        <h4>Lin-Manuel Miranda</h4>
        <p>Best known for the musicals <i>In the Heights</i> and <i>Hamilton</i>, Lin-Manuel Miranda has become one of the most popular composers of the 21st century.
        He started composing and acting at a young age, writing the draft of his first Broadway musical during his sophomore year of college.
        Miranda has received multiple awards and nominations for his skills as a composer, playwright, and actor. Since starring in his major Broadway musical <i>Hamilton</i>>, he has
        gone on to write music for many major movies including <i>Moana</i> and <i>Star Wars: The Force Awakens</i>.</p>
      </div>
    </div>

  </div>

</div>
