<div class="container">

  <br /><br />

  <div class="row">

    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-12">
          <h1><i class="fas fa-envelope text-secondary"></i>  Fan Mail</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <ul class="list-group">
            <li class="list-group-item list-group-item-info border-0">4768 Broadway, Unit 743</li>
            <li class="list-group-item list-group-item-info border-0">New York, NY 10034</li>
          </ul>
        </div>

      </div>
    </div>

    <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-12">
            <h1><i class="fas fa-phone text-secondary"></i>  Phone & Email</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <ul class="list-group">
              <li class="list-group-item list-group-item-info border-0">Phone: 555-555-5555</li>
              <li class="list-group-item list-group-item-info border-0">Press: press@linmanuel.com</li>
              <li class="list-group-item list-group-item-info border-0">Spanish Media: spanishmedia@linmanuel.com</li>
            </ul>
          </div>

        </div>
    </div>
  </div>


</div>
