<div fxLayout="row wrap">

  <div fxFlex>
    <div fxLayout="column">

      <div>
        <img src="./assets/johngreen.jpg" />
      </div>

      <div>
        <em>
          Photo from <a class="attribution-link" href="https://twitter.com/johngreen" target="_blank">@johngreen on Twitter</a>
        </em>
      </div>

    </div>
  </div>

  <div fxFlex>
    <h1 class="blue">About John Green</h1>

    <p>John Green is a New York Times bestselling author and popular content creator.
      He is best known for his sixth book, The Fault in Our Stars, which was the basis for a popular movie of the same name.
      He gained fame in the early days of YouTube that he starred in along with his brother Hank Green.
      The brothers also created the highly succesful Crash Course educational channel.
      Green won the Pintz Award for his first novel, Looking for Alaska, in 2006. </p>

    <div>
      <em>
        Biography by: <a class="attribution-link" target="_blank" href="https://emrich96.github.io/">Emily Richter</a>
      </em>
    </div>

  </div>

</div>
